<div class="row">
  <div class="offset-lg-2 col-lg-8">
    <div class="card mb-3">
      <div class="card-link d-flex mx-5 mb-4 mt-4">
        <h4 class="mr-auto font-weight-bold"><%= status_page.title %></h4>
        <% if policy(status_page).edit? %>
          <%= link_to edit_team_status_page_path(Current.team), class: "btn btn-outline-secondary float-right" do %>
            <%= fa_icon "cogs", text: "Edit" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body border-top">
        <div class="row">
          <div class="col-lg-2">
            <ul class="list-unstyled">
              <li class="mt-2">
                <%= link_to status_page, class: "text-success", target: "_blank" do %>
                  <%= fa_icon "external-link", text: status_page.slug %>
                <% end %>
              </li>
              <hr/>
<!--              <li class="mt-2">-->
                <%#= active_link_to team_status_page_subscribers_path(Current.team) do %>
                  <%#= fa_icon "envelope", text: "#{status_page.status_page_subscribers_count} Subscribers" %>
                <%# end %>
<!--              </li>-->
<!--              <li class="mt-2">-->
                <%#= active_link_to team_status_page_incidents_path(Current.team) do %>
                  <%#= fa_icon "fire", text: "#{status_page.status_page_incidents_count} Incidents" %>
                <%# end %>
<!--              </li>-->
            </ul>
          </div>
          <div class="col-lg-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
