<div class="row">
  <div class="offset-lg-2 col-lg-8">
    <div class="card mb-3">
      <div class="card-link d-flex mx-5 mb-4 mt-4">
        <h4 class="mr-auto font-weight-bold"><%= shift.name %></h4>
        <% if policy(shift).edit? %>
          <%= link_to edit_team_shift_path(Current.team, shift), class: "btn btn-outline-secondary float-right" do %>
            <%= fa_icon "cogs", text: "Edit" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body border-top">
        <div class="row">
          <div class="col-lg-2">
            <h4 class="mt-4">Summary</h4>
            <ul class="mt-4 list-unstyled">
              <li class="mt-2">
                <%= fa_icon "calendar" %>
                <%= shift.shift_opening.days.to_sentence %>
              </li>
              <li class="mt-2">
                <%= fa_icon "clock-o" %>
                <%= l shift.shift_opening.starts_at, format: :time %> - <%= l shift.shift_opening.ends_at, format: :time %>
              </li>
            </ul>
            <hr/>
            <% if policy(shift).destroy? %>
              <h4 class="mt-4 text-danger">Danger Zone</h4>
              <%= link_to team_shift_path(Current.team, shift),
                          data: {confirm: "Are you sure you want to delete '#{shift.name}'?"},
                          class: "btn btn-danger",
                          remote: true,
                          method: :delete do %>
                <%= fa_icon "trash", text: "Delete" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-lg-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
