<div class="d-flex border-top py-2 bg-<%= check.ping_state %> text-white"
     data-check-id="<%= check.id %>"
     data-search-name="<%= check.name %>">
  <%= image_tag src="https://www.google.com/s2/favicons?domain=#{check.endpoint}", height: 20, width: 20, class: "ml-5 mr-2 mt-1" %>
  <%= link_to team_check_path(Current.team, check), class: "h4 ml-2 mb-0 mr-auto" do %>
    <%= check.name %>
  <% end %>
  <span class="h4 mb-0 mr-5">
    <span class="font-italic font-weight-light small mr-3">
      <%= fa_icon "bolt", text: check.ping_delta %>
    </span>
    <span class="font-weight-bold">
      <%= check.ping_total_time %>ms
    </span>
  </span>
</div>
