<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Stack Alert' %>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet" />
    <%= csrf_meta_tags %>
    <%= render 'layouts/icons' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= stylesheet_link_tag 'marketing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'marketing', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/marketing/header' %>
    <%= yield %>
    <%= render 'layouts/marketing/footer' %>
  </body>
</html>
